@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

	::selection
		background-color: $accent
		color: #fff

		html, body
			height: 100%

			body
				font-size: 16px
				min-width: 320px
				position: relative
				line-height: 1.65
				font-family: $default-font
				overflow-x: hidden
				input, textarea
					border: #666 1px solid
					outline: none
					&:focus:required:invalid
						border-color: red
						&:required:valid
							border-color: green

							.img-responsive
								display: block
								max-width: 100%
								height: auto

								.text-center
									text-align: center



			
// @keyframes any
// 	0%
// 		transform: rotate(0deg)
// 	50%
// 		transform: rotate(360deg)


							
// img
// 	width: 200px
// 	// animation: any 5s infinite alternate linear		
// 	position: absolute
// 	top: 20vh
// 	left: calc(10vw - 100px)
// 	transform-origin: top left
// input[type="button"]
// 	&:hover
// 		+ img
// 			animation: any 5s infinite alternate linear

// input[type="checkbox"]
// 	display: none
// 	+ label
// 		padding: 10px 20px
// 		border: 1px solid black
// 	&:checked
// 		+ label
// 			color: red
// 		~ img
// 			animation: any 5s infinite alternate linear
							

$razmer: 40vh

%dot
	color: red
	top: 50vh
	left: 50vw
	display: block
	width: 100px
	transform-origin: left
	position: absolute


@for $i from 1 through 14 
	.numb-#{$i}
		@extend %dot
		transform: rotate(30deg * $i)


span
	width: 10px
	height: 5px
	display: block
	background-color: red
	transform: translate($razmer, 0)

.big
	background-color: red
	transform: rotate(210deg)
	animation: smal 60s linear infinite
	span
		transform: translate(0, 0)

.smal
	background-color: green
	transform: rotate(330deg)
	animation: smal 360s linear infinite
	span
		transform: translate(0, 0)
			
@keyframes smal
	0%
		transform: rotate(0deg)

	100%
		transform: rotate(360deg)

.numb-13
	width: $razmer*0.95

.numb-14
	width: $razmer*0.5

@import "media" // Always at the end
